.conformacion {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

.presentacion-seccion {
  margin: 3rem 0 0 0;
}

#modificar-roles {
	grid-row: 2;
  display: grid;
	gap: 3rem;
}

#agregar-roles {
  grid-row: 4;
}

#agregar-roles h2 {
  margin: 0 0 3rem 0;
}

.divisor {
  display: flex;
  width: 70%;
  justify-self: center;
}
.Title {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: inherit;
  font-weight: 400 important;
  line-height: 1.5;
}

.TitleDetalle {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: inherit;
  font-weight: 400 !important;
  line-height: 1.5;
  grid-column: 1;
  grid-row: 2;
}

.TypDetalle {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  grid-column: 2;
  grid-row: 1;
  color: inherit;
  font-weight: 400;
  line-height: 1.5;
  justify-self: flex-start;
}
.TypEquipo {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  grid-column: 2;
  grid-row: 2;
  color: inherit;
  font-weight: 400;
  line-height: 1.5;
  justify-self: flex-start;
}
.condicion {
  width: 20rem;
  display: inline;
 justify-content: center;
  margin-top: 1rem;
  margin-right: 2rem;
  
}

.Buttons {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: 5rem;

  grid-gap: 1rem;
  
}
.img{
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  margin-left: 25rem;
}

.bgColors{
  background-color: #81d4fa;
  grid-template-columns: repeat(2, 20rem);
   
}

#divisor-Equipo{
  margin: 2rem;
}


#grid {
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: 5rem;
  margin: 0 15%;
  grid-gap: 1rem;
}
