.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divisor {
  width: 70%;
}

.participaciones {
  width: 100vw;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 1.4em;
  text-align: center;
}

@media (max-width: 700px) {
	.participaciones {
		text-align: center;
	}
}

.num-proyectos {
  color: #1976D2;
}