.tarjeta-usuario {
  flex-grow: 1;
  margin: 7vh 8vw;
  justify-self: flex-end;
}

.grid-usuario {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  gap: 20px;
}

.nombre-usuario {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.contenedor-roles {
  grid-column: 2 / span 3;
  grid-row: 2;
}

.antiguedad-usuario {
  grid-column: 4;
  grid-row: 1;
  justify-self: flex-end;
  align-self: center;
}

.avatar-usuario {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.avatar {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#ripple-avatar {
  border-radius: 25px;
}

#boton-mi-info {
  grid-column: 4;
  grid-row: 3;
  width: 15em;
  justify-self: center;
}

.enEquipos {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #6e7491;
  width: 70%;
  line-height: 28px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgb(0 0 0 / 30%);
}

@media (max-width: 700px) {
  .grid-usuario {
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .nombre-usuario {
    grid-column: 1;
    grid-row: 2;
  }

  .contenedor-roles {
    grid-column: 1;
    grid-row: 3;
  }

  .antiguedad-usuario {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }

  .avatar-usuario {
    grid-column: 1;
    grid-row: 1;
  }

  #boton-mi-info {
    grid-column: 1;
    grid-row: 5;
  }

  .enEquipos {
    grid-column: 1;
    grid-row: 6;
  }
}
