#boton-es-admin{
  grid-column: 4;
  grid-row: 3;
  width: 15em;
  justify-self: center;
}

#boton-no-es-admin{
  background-color: #fcb616;
  grid-column: 4;
  grid-row: 3;
  width: 15em;
  justify-self: center;
}