.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #d9d9d9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techo© {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.logofoot {
  vertical-align: middle;
  padding-top: 5px;
  margin-right: 45%;
}

.red {
  margin: 0 2px;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

/* --------------------------------Navbar & LoginModal------------------------------- */

#navbar {
  background: "#0092dd";
}

#logo {
  width:122px; 
  height:37.6px;
}

#formBox {
  width: 500px;
  max-width: 100%;
}

.size10 {
  font-size: 10px !important;
}

.size16 {
font-size: 16px !important;
}

.linksContainter {
  display: flex;
  justify-content: space-between;
}

.links {
  display: block;
}

#ingresar {
  background-color: #0092dd;
  color: white;
}

#ingresar:hover { 
  background-color: #0092dd; 
};

/* --------------------------------Cards------------------------------- */
