.contenedor-historial {
	margin: 2rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.historial {
	width: 100%;
}

#titulo-historia {
	margin: 1rem 8vw;
}

.caja-equipos {
	margin: 0 3%;
	padding: 1.5rem;
	border-radius: 15px;
	background-color: #D9D9D9;
	display: grid;
	grid-auto-rows: auto;
  gap: 2rem;
}